@{
    ViewBag.Title = "Calendar";
    <link rel="stylesheet" href="css/CLNDR.css"/>
}

@*
    RESOURCES
    ------------------------------------------------------
    Calendar        - http://kylestetz.github.io/CLNDR/
    Calendar docs   - https://github.com/kylestetz/CLNDR
    Momentjs        - http://momentjs.com/
    Underscorejs    - http://underscorejs.org/
    Example guide   - https://goo.gl/yPRwyu
*@


<h1>@ViewBag.Title</h1>

@*Underscore template - Output cannot be seen in "view page source", but use developer tools to see output (f12)*@
<div class="container">
    <div class="cal1"></div>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="../Assets/JS/CLNDR.js"></script>
<script src="../Assets/JS/demo.js"></script>